html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-block-end: 0.2em;
}

#config {
    justify-self: center;
    padding: 10px;
    margin: 0 auto;

    & select {
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    max-height: 100vh;

    &>* {
        flex: 1;
    }
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    gap: 10px;
    overflow: hidden;

}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 20px;
    max-height: 100vmin;
    max-width: 100vmin;
    flex: 1;
    width: 100%;
    height: 100%;
}

#info {
    flex: 1;
    overflow-y: auto;
    display: block;
    align-self: start;
    padding: 20px;
    max-height: inherit;
}

@media screen and (max-aspect-ratio: 4/5) {
    body {
        max-height: unset;
    }

    #main {
        display: flex;
        flex-direction: column;
        max-height: unset;
    }

    #info {
        align-self: unset;
        overflow-y: unset;
        max-height: unset;
    }
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    max-width: 50vmax;
    object-fit: contain;
}

#config-factions {
    margin-bottom: 30px;
    width: 100%;
}

#config-run-button {
    background-color: rgb(40, 157, 40);
    color: white;

    &:hover {
        background-color: rgb(34, 133, 34);
    }
}

.faction-cell {
    height: 50px;
    border-bottom: solid white 10px;
    border-spacing: 20px;
}

.faction-color {
    opacity: 0;
    min-width: 65px;
    min-height: 100%;
    padding: 0;
}

.faction-name {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 0;
    border-left: solid lightgray 2px;
    border-right: solid lightgray 2px;
    padding-left: 12px;
}

.faction-delete {
    background-color: rgb(184, 32, 32);
}

#faction-add {
    background-color: rgb(15, 86, 173);
}

.faction-button {
    height: 50px;
    width: 100%;
}

td {
    &.small {
        height: auto;
    }

    &.smaller {
        height: 20px;
    }

    &.info-color {
        width: 65px;
        min-width: 65px;
        margin-right: 10px;
        padding: 0;
    }
    
    &.info-name {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 10px;
        overflow-wrap: anywhere;
    }
    
    &.info-text {
        padding-left: 5px;
    }
    
    &.info-timestamp {
        font-style: italic;
        text-align: right;
        padding-right: 10px;
        color: gray;
    }
}

.info-counts {
    display: flex;
}

.info-count {
    padding-right: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-right: solid lightgray 2px;

    &:not(.hidden) {
        display: inline-block;
    }
}

.info-event {
    border-top: solid lightgray 2px;
    width: 75%;
    padding-bottom: 8px;
    padding-top: 8px;
}

#info-stats {
    width: 80%;
}

.info-stat {
    height: auto;
    width: 50%;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
}

button {
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
    }
}

input[type="color"] {
    background-color: white;

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none !important;
}
